@font-face {
  font-family: "digital";
  src: url("digital-7.ttf");
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  vertical-align: middle;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 1em;
}

body {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  /*border: 1px solid #282c34;*/
  border-radius: 4px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border: solid 1px #1a344e;
}

#container {
  background-image: linear-gradient(to top, #375277, #3565a3, #375277);
}

#container::before {
  content: "";
  /* width: 40px;
  min-height: 100px;
  background-color: #529600;
  left: 0;
  position: absolute;
  display: block;
  top: 0; */
}

button {
  width: 55px;
  height: 55px;
  margin: 5px;
  border: 1px solid rgb(212, 203, 203);
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.1em;
  background-color: #9e9999;
  color: #ffffff;
}

.control {
  background-color: #615a5a;
  border: 1px solid gray;
  border-radius: 5px;
}

.answer {
  background-color: #6197fbd3;
}

#display {
  text-align: right;
  font-family: digital;
  font-size: 1.7em;
  border: 1px double #fdfdfd;
  margin: 10px auto;
  padding: 10px;
  letter-spacing: 0.1em;
  width: 80%;
  border-radius: 4px;
  background-color: #cbcec6;
  color: #1a2c4b;
  box-shadow: -1px -1px #141214, 1px 1px #141214;
}

div {
  border: solid red 0px;
}
